<div class="footer">
    <div class="content">
      <div class="row">
        <div class="col">
          <a href="/" class="footer-logo">
            <img src="{{'assets/images/logoFull.png'|theme}}" alt="" />
          </a>
        </div>
        <div class="col">
          <div class="footer-title">
            Меню
          </div>
          <p>
            <a href="/projects/">Портфолио</a>
          </p>
          <p>
            <a href="/about/">Наша команда</a>
          </p>
          <p>
            <a href="/news/">Публикации</a>
          </p>
        </div>
        <div class="col">
          <div class="footer-title">
            Контакты
          </div>
          <p>
            <a href="tel:+7 999 999 99 99">
              +7 999 999 99 99
            </a>
          </p>
          <p>
            <a href="mailto:info@webdevery.ru">
              info@webdevery.ru
            </a>
          </p>
          <div class="footer-social">
            <a href="" class="footer-social-item">
              <i class="icon-fb"></i>
            </a>
            <a href="https://vk.com/webdevery/" class="footer-social-item">
              <i class="icon-vk"></i>
            </a>
            <a href="" class="footer-social-item">
              <i class="icon-telegramm"></i>
            </a>
          </div>
        </div>
        <div class="col">
          <div class="footer-title">
            заказать звонок
          </div>
          <form action="" class="footer-form">
            <input
              type="text"
              class="footer-input"
              name="phone"
              placeholder="Введите телефон"
            />
            <button class="footer-button">
              заказать
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="footer-down">
      <div class="content">
        <a href="#page" class="go-to-top-mobile">
          <i class="icon-str-up-blue"> </i>
        </a>
        <div class="footer-pp">
          <a href="">Политика конфиденциальности</a> | © 2020 WebDevery
          Digital Agancy. Все права защищены.
        </div>
      </div>
    </div>
  </div>