<div class="header">
    <div class="header-menu">
      <div class="header-menu-left">
        <a href="/projects/" class="menu-item">портфолио</a>
        <a href="/about/" class="menu-item">Наша команда</a>
      </div>
      <a href="/" class="logo">
        <span class="logo-img"></span>
        <span class="logo-text">WebDevery</span>
      </a>
      <div class="header-menu-right">
        <a href="/news/" class="menu-item">публикации</a>
        <a href="/contacts/" class="menu-item">Контакты</a>
      </div>
    </div>
    <div class="header-burger">
      <a href="" class="header-burger-btn">
        <span></span>
      </a>
      <div class="header-burger-menu">
        <div class="header-burger-container">
          <div class="col">
            <div class="footer-title">
              Меню
            </div>
            <p>
              <a href="/projects/">Портфолио</a>
            </p>
            <p>
              <a href="/about/">Наша команда</a>
            </p>
            <p>
              <a href="/news/">Публикации</a>
            </p>
          </div>
          <div class="col">
            <div class="footer-title">
              Контакты
            </div>
            <p>
              <a href="tel:+7 999 999 99 99">
                +7 999 999 99 99
              </a>
            </p>
            <p>
              <a href="mailto:info@webdevery.ru">
                info@webdevery.ru
              </a>
            </p>
            <div class="footer-social">
              <a href="" class="footer-social-item">
                <i class="icon-fb"></i>
              </a>
              <a href="" class="footer-social-item">
                <i class="icon-vk"></i>
              </a>
              <a href="" class="footer-social-item">
                <i class="icon-telegramm"></i>
              </a>
            </div>
          </div>
          <div class="col">
            <div class="footer-title">
              заказать звонок
            </div>
            <form action="" class="footer-form">
              <input
                type="text"
                class="footer-input"
                name="phone"
                placeholder="Введите телефон"
              />
              <button class="footer-button">
                заказать
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>