<div class="modal">
  <div class="modal-item" id="callback">
    <div class="modal-container">
      <div class="modal-bg">
        <div class="modal-bg-up" id="modal-canvas-up"></div>
        <div class="modal-bg-down" id="modal-canvas-down"></div>
      </div>
      <div class="modal-content">
        <div class="modal-title">
          заполните форму и мы свяжемся с вами
        </div>
        <form action="">
          <div class="modal-input">
            <input
              type="text"
              name="name"
              placeholder="Имя"
              required
              autocomplete="off"
            />
          </div>
          <div class="modal-input">
            <input
              type="text"
              name="phone"
              placeholder="Ваш телефон"
              required
              autocomplete="off"
            />
          </div>
          <div class="modal-input">
            <input
              type="text"
              name="mail"
              placeholder="Почта для связи"
              required
              autocomplete="off"
            />
          </div>
          <div class="modal-input-full">
            <textarea
              name="text"
              id=""
              rows="3"
              placeholder="Комментарий"
            ></textarea>
          </div>
          <button class="btn modal-btn">Отправить</button>
        </form>
      </div>
    </div>
  </div>
</div>
