<div class="modal">
  <div class="modal-item" id="callback">
    <div class="modal-container">
      <div class="modal-bg">
        <div class="modal-bg-up" id="modal-canvas-up"></div>
        <div class="modal-bg-down" id="modal-canvas-down"></div>
      </div>
      <div class="modal-content">
        
        <h3>
          заполните форму и мы свяжемся с вами
        </h3>
        <form action="" data-request-update="ajax/formOrder: '#result-form-order'">
          <div class="modal-input">
            <input
              type="text"
              name="name"
              id="name"
              placeholder="Имя"
              required
              autocomplete="off"
            />
          </div>
          <div class="modal-input">
            <input
              type="text"
              name="phone"
              id="phone"
              placeholder="Ваш телефон"
              required
              autocomplete="off"
            />
          </div>
          <div class="modal-input">
            <input
              type="text"
              id="mail"
              name="mail"
              placeholder="Почта для связи"
              required
              autocomplete="off"
            />
          </div>
          <div class="modal-input-full">
            <textarea
              name="text"
              id="text"
              rows="3"
              required
              placeholder="Комментарий"
            ></textarea>
          </div>
          <button class="btn modal-btn">Отправить</button>
        </form>
        <div id="result-form-order" style="display:none">
          {%partial 'ajax/formOrder'%}
        </div>
      </div>
    </div>
  </div>
  <div class="modal-item" id="success">
    <div class="modal-container">
      <div class="modal-bg">
        <div class="modal-bg-up" id="success-modal-canvas-up"></div>
        <div class="modal-bg-down" id="success-modal-canvas-down"></div>
      </div>
      <div class="modal-content">
        <p>
          <i class="icon-check"></i>
        </p>
        <h3>
          Спасибо ваша заявка отправлена
        </h3>
        <p>
          В ближайшее время с Вами свяжется менеджер
        </p>
      </div>
    </div>
  </div>
</div>