[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = "news"
postsPerPage = 4
noPostsMessage = "Записей не найдено"
sortOrder = "published_at desc"
categoryPage = "home"
postPage = "new-detail"
==
<div class="news">
    <div class="angleBlock">
      <div class="angleBlock-content">
        <div class="angleBlock-left"></div>
        <div class="angleBlock-right"></div>
        <h2>Полезная информация</h2>
      </div>
    </div>
    <div class="content">
      <div class="news-list">
        {%for post in blogPosts.posts %}
        <a href="{{post.url}}" class="news-item">
          <div class="news-item-img pos-img">
            {%for img in post.featured_images|slice(0,1)%}
            <img src="{{ img.path | resize(400, 400) }}" alt="{{post.title}}" />
            {%endfor%}
          </div>
          <div class="news-item-title">
            {{post.title}}
          </div>
          <div class="news-item-date">
            {{post.published_at|date('j M Y')}} 
          </div>
          <div class="news-item-link">
            Читать далее...
          </div>
        </a>
        {%endfor%}
      </div>
      <a href="/news/" class="btn-plus-text black">
        <span class="plus-blue"></span>
        все статьи
      </a>
    </div>
    <div class="leftWord-container">
      <div class="leftWord">
        webdevery
      </div>
    </div>
  </div>