@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Light"), local("OpenSans-Light"), url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff"), url("../fonts/opensanslight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Light Italic"), local("OpenSansLight-Italic"), url("../fonts/opensanslightitalic.woff2") format("woff2"), url("../fonts/opensanslightitalic.woff") format("woff"), url("../fonts/opensanslightitalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"), local("OpenSans"), url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff"), url("../fonts/opensans.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url("../fonts/opensansitalic.woff2") format("woff2"), url("../fonts/opensansitalic.woff") format("woff"), url("../fonts/opensansitalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url("../fonts/opensanssemibold.woff2") format("woff2"), url("../fonts/opensanssemibold.woff") format("woff"), url("../fonts/opensanssemibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: local("Raleway Bold"), local("Raleway Bold"), url("../fonts/ralewaybold.woff2") format("woff2"), url("../fonts/ralewaybold.woff") format("woff"), url("../fonts/ralewaybold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: local("Raleway Light"), local("Raleway Light"), url("../fonts/ralewaylight.woff2") format("woff2"), url("../fonts/ralewaylight.woff") format("woff"), url("../fonts/ralewaylight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: local("Raleway Medium"), local("Raleway Medium"), url("../fonts/ralewaymedium.woff2") format("woff2"), url("../fonts/ralewaymedium.woff") format("woff"), url("../fonts/ralewaymedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: local("Raleway Regular"), local("Raleway Regular"), url("../fonts/ralewayregular.woff2") format("woff2"), url("../fonts/ralewayregular.woff") format("woff"), url("../fonts/ralewayregular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: local("Raleway Semibold"), local("Raleway Semibold"), url("../fonts/ralewaysemibold.woff2") format("woff2"), url("../fonts/ralewaysemibold.woff") format("woff"), url("../fonts/ralewaysemibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: local("Raleway Thin"), local("Raleway Thin"), url("../fonts/ralewaythin.woff2") format("woff2"), url("../fonts/ralewaythin.woff") format("woff"), url("../fonts/ralewaythin.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
html,
body {
  margin: 0;
  padding: 0;
  border: 0;
}
html.overflow,
body.overflow {
  overflow: hidden;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
html::-webkit-scrollbar-button,
body::-webkit-scrollbar-button {
  background-color: #282928;
}
html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background-color: #363636;
}
html::-webkit-scrollbar-track-piece,
body::-webkit-scrollbar-track-piece {
  background-color: #282928;
}
html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #099acc;
  border-radius: 3px;
}
html::-webkit-scrollbar-corner,
body::-webkit-scrollbar-corner {
  background-color: #282928;
}
html::-webkit-resizer,
body::-webkit-resizer {
  background-color: #282928;
}
html {
  font-size: 16px;
}
html .def_h {
  font-family: "Raleway";
  text-transform: uppercase;
  line-height: 135%;
  font-weight: 300;
  color: #fff;
}
html h1 {
  font-family: "Raleway";
  text-transform: uppercase;
  line-height: 135%;
  font-weight: 300;
  color: #fff;
  font-size: 3.125rem;
}
html h2 {
  font-family: "Raleway";
  text-transform: uppercase;
  line-height: 135%;
  font-weight: 300;
  color: #fff;
  font-size: 2.5rem;
}
html h3 {
  font-family: "Raleway";
  text-transform: uppercase;
  line-height: 135%;
  font-weight: 300;
  color: #fff;
  font-size: 1.75rem;
}
html h4 {
  font-family: "Raleway";
  text-transform: uppercase;
  line-height: 135%;
  font-weight: 300;
  color: #fff;
  font-size: 1.125rem;
}
html h5 {
  font-family: "Raleway";
  text-transform: uppercase;
  line-height: 135%;
  font-weight: 300;
  color: #fff;
  font-size: 1rem;
}
html * {
  font-family: "Open Sans";
  color: #282928;
  box-sizing: border-box;
}
html p {
  font-family: "Open Sans";
  color: #282928;
  line-height: 162%;
  font-weight: 300;
}
html small {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 130%;
}
html a {
  text-decoration: none;
  color: inherit;
}
@media (max-width: 1150px) {
  html h1 {
    font-size: 2.5rem;
  }
  html h2 {
    font-size: 1.5rem;
  }
  html h3 {
    font-size: 1.375rem;
  }
}
@media (max-width: 768px) {
  html h1 {
    font-size: 2.18rem;
  }
}
@media (max-width: 550px) {
  html h1 {
    font-size: 1.375rem;
  }
  html h2 {
    font-size: 1.3125rem;
  }
}
.content {
  width: 1200px;
  margin: auto;
}
@media (max-width: 1300px) {
  .content {
    width: 1100px;
  }
}
@media (max-width: 1180px) {
  .content {
    width: calc(100% - 80px);
  }
}
@media (max-width: 550px) {
  .content {
    width: calc(100% - 40px);
  }
}
.icon .def {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.icon-str-down {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 42px;
  height: 42px;
  background-image: url(../images/str-down.svg);
}
.icon-check {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 37px;
  height: 37px;
  background-image: url(../images/check.svg);
}
.icon-str-r-white {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 25px;
  height: 8px;
  background-image: url(../images/str-right-white.svg);
}
.icon-str-up {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 15px;
  height: 8px;
  background-image: url(../images/str-up.svg);
}
.icon-str-up-blue {
  width: 15px;
  height: 8px;
  background-image: url(../images/str-up-blue.svg);
}
.icon-fb {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 10px;
  height: 16px;
  background-image: url(../images/fb.svg);
}
.icon-vk {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 10px;
  width: 16px;
  background-image: url(../images/vk.svg);
}
.icon-telegramm {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 16px;
  height: 14px;
  background-image: url(../images/telegramm.svg);
}
.plus {
  width: 37px;
  height: 37px;
  min-width: 37px;
  min-height: 37px;
  background: #363636;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid #363636;
  transition: all 0.3s;
}
.plus::before {
  content: "";
  width: 15px;
  height: 15px;
  display: block;
  background-image: url(../images/plus.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: all 0.3s;
}
.plus:hover {
  border: 2px solid #ffffff;
}
.plus:hover:before {
  transform: rotate(90deg);
}
.plus-blue {
  width: 37px;
  height: 37px;
  min-width: 37px;
  min-height: 37px;
  background: #099acc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid #099acc;
  transition: all 0.3s;
}
.plus-blue::before {
  content: "";
  width: 15px;
  height: 15px;
  display: block;
  background-image: url(../images/plus.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: all 0.3s;
}
.plus-blue:hover {
  border: 2px solid #ffffff;
}
.plus-blue:hover:before {
  transform: rotate(90deg);
}
.btn {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  line-height: 56px;
  margin-top: 60px;
  display: inline-flex;
  align-items: center;
  background: #282928;
  border: 2px solid #099acc;
  padding: 0 40px;
}
.btn:hover:after {
  transform: translateX(10px);
}
.btn:after {
  content: "";
  transition: all 0.3s;
  margin-left: 20px;
  width: 25px;
  height: 8px;
  background-image: url(../images/str-right-white.svg);
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
@media (max-width: 768px) {
  .btn {
    margin-top: 30px;
  }
}
.btn-plus-text {
  display: inline-flex;
  align-items: center;
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  transition: color 0.3s;
}
.btn-plus-text.black {
  color: #282928;
}
.btn-plus-text span {
  margin-right: 20px;
}
.btn-plus-text:hover {
  color: #099acc;
}
.btn-plus-text:hover .plus-blue {
  border: 2px solid #ffffff;
}
.btn-plus-text:hover .plus-blue:before {
  transform: rotate(90deg);
}
.pos-img {
  position: relative;
  overflow: hidden;
}
.pos-img img {
  position: absolute !important;
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, -50%) !important;
  width: auto !important;
  height: 100% !important;
}
.pos-img img.height-auto {
  height: auto !important;
  width: 100% !important;
}
[data-fixture] {
  pointer-events: auto !important;
}
